.containerDetails{
    background-color: rgb(85, 90, 90);
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    color: rgb(78, 193, 103);
}

.body{
    background-color: burlywood;
    color: black;
    margin: 5px;
    padding: 3px;
}